.carousel {
  margin: auto;
  overflow: hidden;
  position: relative;

  .slide-track {
    animation: carousel-phone 20s linear infinite;
    width: calc(400px * 6);

    @include breakpoint-up(tablet) {
      animation: carousel-tablet 20s linear infinite;
      width: calc(500px * 6);
    }

    &.double {
      width: calc(350px * 6);
      animation: carousel-phone-carousels 12s linear infinite;

      @include breakpoint-up(tablet) {
        animation: carousel-tablet-carousels 20s linear infinite;
        width: calc(500px * 6);
      }

      @include breakpoint-up(desktop) {
        animation: carousel-desktop-carousels 20s linear infinite;
        width: calc(1200px * 6);
      }
    }

    &.double2 {
      @include breakpoint-up(desktop) {
        animation: carousel-desktop-carousels2 30s linear infinite;
        width: calc(1200px * 6);
      }
    }

    &.track_services {
      width: calc(240px * 6);
      animation: carousel-phone-services 2s linear infinite;
    }
  }

  .slide {
    width: 400px;

    @include breakpoint-up(tablet) {
      width: 500px;
    }

    &.slide_services {
      width: 240px;
    }

    &.slide_carousels {
      width: 350px;

      @include breakpoint-up(tablet) {
        width: 500px;
      }

      @include breakpoint-up(desktop) {
        width: 1200px;
      }
    }

    h3 {
      margin: 0;
      font-weight: 400;

      &.landing {
        font-size: $_16px;
        white-space: nowrap;

        @include breakpoint-up(tablet) {
          font-size: $_22px;
        }
      }

      &.landing2 {
        @include breakpoint-up(desktop) {
          font-size: $_50px;
        }
      }

      &.services {
        color: $white;
        font-size: $_34px;

        @include breakpoint-up(desktop) {
          font-size: $_50px;
        }

        // svg {
        //   margin-left: 2rem;
        // }
      }
    }
  }
}
