.carousel {
  margin: auto;
  overflow: hidden;
  position: relative;

  .slide-track {
    animation: carousel-phone 20s linear infinite;
    width: calc(400px * 6);

    &.double {
      width: calc(350px * 6);
      animation: carousel-phone-carousels 12s linear infinite;
    }

    &.track_services {
      width: calc(240px * 6);
      animation: carousel-phone-services 2s linear infinite;
    }
  }

  .slide {
    width: 400px;

    &.slide_services {
      width: 240px;
    }

    &.slide_carousels {
      width: 350px;
    }

    h3 {
      margin: 0;
      font-weight: 400;

      &.landing {
        font-size: $_16px;
        white-space: nowrap;
      }

      &.services {
        color: $white;
        font-size: $_34px;

        // svg {
        //   margin-left: 2rem;
        // }
      }
    }
  }
}
