.footer {
  width: 100%;

  padding: 1rem 2rem;

  @include breakpoint-up(desktop) {
    padding: 20vh 5.5vw 10vh;
  }

  a {
    color: $white;
  }

  &_socials {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;

    @include breakpoint-up(tablet) {
      font-size: $_24px;
      column-gap: 3rem;
    }
  }

  &_email {
    a {
      text-decoration: 1px underline $white;

      @include breakpoint-up(tablet) {
        font-size: $_24px;
      }
    }
  }
}
