.services__grid__card {
  padding: 1.875rem 2rem;

  @include breakpoint-up(tablet) {
    padding: 3.125rem 3rem;
  }

  &:first-child {
    border: 1px solid #464646;
  }

  &:nth-child(2) {
    @include breakpoint-up(desktop) {
      border-top: 1px solid #464646;
    }
  }

  &:not(&:first-child) {
    border-bottom: 1px solid #464646;
    border-left: 1px solid #464646;
    border-right: 1px solid #464646;
  }

  &__red {
    background-color: $red;
    padding: 1.875rem 2rem;

    position: relative;

    @include breakpoint-up(tablet) {
      padding: 3.125rem 3rem;
    }

    h2 {
      margin-top: 0;
      line-height: 1.1;
      color: $yellow;
      font-weight: 500;

      @include breakpoint-up(tablet) {
        font-size: $_34px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_40px;
      }
    }

    p {
      color: $white;

      @include breakpoint-up(tablet) {
        font-size: $_30px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_26px;
      }

      @include breakpoint-up(large) {
        width: 80%;
      }
    }

    svg {
      position: absolute;
      bottom: 10%;
      right: 10%;
      height: 20px;

      @include breakpoint-up(tablet) {
        height: 40px;
      }
    }
  }

  h2 {
    font-weight: 500;
    font-size: $_20px;
    margin-top: 0;
    color: $yellow;

    @include breakpoint-up(tablet) {
      font-size: $_34px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_40px;
    }
  }

  p {
    margin-bottom: 0;
    color: $grey;

    @include breakpoint-up(tablet) {
      font-size: $_30px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_26px;
    }

    @include breakpoint-up(large) {
      width: 80%;
    }
  }
}
