.about_landing {
  position: relative;
  height: 100vh;

  padding: 7.5rem 2rem;

  @include breakpoint-width-height(667px, 375px, 667px) {
    padding: 6.25rem 2rem;
  }

  @include breakpoint-up(tablet) {
    padding: 10vh 2ren;
  }

  &__title {
    font-size: $_50px;
    line-height: 1.1;
    color: $white;
    font-weight: 400;

    @include breakpoint-width-height(667px, 375px, 667px) {
      margin-top: 0;
    }

    @include breakpoint-up(tablet) {
      font-size: $_70px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_90px;
    }

    div {
      &:nth-child(3) {
        color: $yellow;

        transform: rotate(-4deg);

        @include breakpoint-up(desktop) {
          transform: rotate(-4deg) translateY(-15%);

          text-shadow: -12px 12px 8px rgba($color: $yellow, $alpha: 0.2);
        }
      }
    }
  }

  &_contacts {
    margin-top: 16vh;

    @include breakpoint-up(desktop) {
      margin-top: 30vh;
      margin-right: 30vw;
      display: grid;
      grid-template-rows: repeat(6, min-content);
      justify-content: flex-end;
      text-align: left;
    }

    h3 {
      color: $yellow;
      font-family: $headers;
      font-size: $_24px;

      margin: 0 0 1rem;

      @include breakpoint-up(tablet) {
        font-size: $_30px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_50px;
        margin-bottom: 2rem;
      }
    }

    h5 {
      color: $darkGrey;
      text-decoration: 1px underline $darkGrey;
      font-size: $_18px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0.4rem;

      @include breakpoint-width-height(667px, 375px, 667px) {
        font-size: $_17px;
      }

      @include breakpoint-up(tablet) {
        font-size: $_24px;
        margin-bottom: 0.6rem;
      }

      @include breakpoint-up(desktop) {
        font-size: $_34px;
      }
    }

    p {
      color: $white;
      font-size: $_18px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 0.4rem;

      @include breakpoint-width-height(667px, 375px, 667px) {
        font-size: $_17px;
      }

      @include breakpoint-up(tablet) {
        font-size: $_24px;
        margin-bottom: 0.6rem;
      }

      @include breakpoint-up(desktop) {
        font-size: $_34px;
      }

      &:last-child {
        text-decoration: 2px underline $white;
      }
    }

    a {
      font-size: $_16px;
      color: $white;

      @include breakpoint-width-height(667px, 375px, 667px) {
        font-size: $_17px;
      }

      @include breakpoint-up(tablet) {
        font-size: $_24px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_34px;
      }
    }
  }

  svg {
    position: absolute;
    bottom: 4%;
    right: 2rem;

    height: 55px;
    width: 55px;

    animation: spin 8s linear infinite;

    @include breakpoint-up(tablet) {
      height: 5rem;
      width: 5rem;
    }

    @include breakpoint-up(desktop) {
      right: 10.5vw;
      bottom: 50%;
      height: 8rem;
      width: 8rem;
    }
  }
}

.about_landing_desktop {
  height: 100vh;

  &__title {
    color: $yellow;
    font-size: $_140px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 5vh;
    line-height: 0.9;

    @include breakpoint-up(large) {
      font-size: 12.5rem;
    }
  }

  form {
    input {
      background-color: transparent;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      border-right: none;
      border-left: none;

      padding: 2rem 10vw;
      font-size: $_40px;
      color: $yellow;
      font-family: $headers;
      font-weight: 400;

      margin: 6vh 0;

      @include breakpoint-up(large) {
        font-size: $_60px;
        margin: 8vh 0;
      }

      &:focus {
        outline: none;
      }

      &#submitBtn {
        margin: 0;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        padding: 0 4vw;
        height: 20vh;
        width: 20vh;
        border: none;
        background-color: $yellow;

        font-size: $_24px;
        text-transform: uppercase;

        color: $black;
        font-weight: 600;

        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.1);
          font-size: $_26px;
        }
      }
    }

    ::placeholder {
      color: $grey;
      font-family: $headers;
      font-weight: 300;
    }
  }
}

.about_us {
  padding: 4rem 2rem;

  @include breakpoint-up(tablet) {
    padding: 0 5.5vw 10vh;
  }

  .p_img {
    position: relative;
    z-index: 1;

    &:last-child {
      @include breakpoint-up(large) {
        margin-bottom: 40vh;
      }
    }
  }

  p {
    color: $grey;

    font-size: $_18px;

    &:nth-child(3) {
      margin-top: 5vh;

      @include breakpoint-up(desktop) {
        margin-left: auto;
        margin-top: 20vh;
        margin-bottom: 20vh;
      }
    }

    img {
      position: absolute;
      z-index: -1;
      top: 25%;
      right: -20vw;
      width: 60%;

      filter: grayscale(100%) opacity(20%);
    }

    @include breakpoint-up(tablet) {
      font-size: $_30px;
    }

    @include breakpoint-up(desktop) {
      font-family: $headers;
      font-size: $_50px;
      font-weight: 100;
      color: $white;

      width: 60vw;
    }
  }

  &_team {
    margin: 7vh 0 4vh;

    color: $red;
    font-family: $headers;
    font-weight: 600;
    font-size: $_30px;

    @include breakpoint-up(tablet) {
      font-size: $_50px;
    }

    @include breakpoint-up(desktop) {
      font-family: $headers;
      font-size: $_70px;
      margin-bottom: 10vh;
    }
  }

  .top {
    @include breakpoint-up(desktop) {
      margin-top: 40vh;
    }

    @include breakpoint-up(large) {
      margin-top: 56vh;
    }
  }
}
