.presentation {
  position: relative;
  height: 100vh;

  padding: 7.5rem 0;

  @include breakpoint-width-height(667px, 375px, 667px) {
    padding: 6.25rem 0;
  }

  @include breakpoint-up(desktop) {
    padding: 20vh 5.5vw 0;
  }

  &__title {
    padding: 0 2rem;
    font-size: $_50px;
    line-height: 1.1;
    color: $white;
    font-weight: 400;

    @include breakpoint-width-height(667px, 375px, 667px) {
      font-size: $_46px;
    }

    @include breakpoint-up(tablet) {
      font-size: $_70px;
    }

    @include breakpoint-up(desktop) {
      padding: 0;
      font-size: $_80px;
    }

    div {
      &:nth-child(3) {
        color: $yellow;

        transform: rotate(-4deg);

        @include breakpoint-up(desktop) {
          transform: rotate(-4deg) translateY(-40%);

          text-shadow: -12px 12px 8px rgba($color: $yellow, $alpha: 0.2);
        }
      }
    }
  }

  &__banner {
    margin: 10vh 0;
    background-color: $white;
    padding: 0.6rem 0;
    transform: rotate(4deg);

    @include breakpoint-up(tablet) {
      padding: 1rem 0;
      margin: 16vh 0;
    }

    @include breakpoint-up(desktop) {
      position: absolute;
      top: -15%;
      left: 10%;
      transform-origin: 0 center;
      transform: rotate(30deg);
      margin: 0 0;
    }
  }

  &__svg {
    padding: 0 2rem;

    svg#circle {
      animation: spin 15s infinite linear;

      @include breakpoint-width-height(667px, 375px, 667px) {
        height: 150px;
      }

      @include breakpoint-up(desktop) {
        position: absolute;
        bottom: 10%;
        left: calc(50% - 75px);
      }
    }

    svg#arrow {
      transform: translate(-250%, -100%);

      @include breakpoint-width-height(667px, 375px, 667px) {
        height: 40px;
        transform: translate(-250%, -130%);
      }

      @include breakpoint-up(desktop) {
        height: 36px;
        position: absolute;
        bottom: 10%;
        left: calc(50% - 10px);
        transform: translate(-5px, -60px);
      }
    }
  }

  &__email {
    position: absolute;
    transform: rotate(90deg) translateY(-200%);
    right: calc(2rem - 9px);
    top: 80%;
    transform-origin: center bottom;
    transition: all 0.8s;

    @include breakpoint-up(tablet) {
      right: 2rem;
    }

    @include breakpoint-up(desktop) {
      top: 40%;
      right: 5.5vw;
    }

    &.open {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }

    a {
      color: $white;
      font-size: $_14px;
      text-decoration: underline $white;

      cursor: pointer;

      @include breakpoint-up(desktop) {
        font-size: $_16px;
        text-decoration: none;
      }
    }
  }
}

.services,
.about,
.projects_showcase {
  padding: 0 2rem 4rem;

  @include breakpoint-up(tablet) {
    padding: 4rem 2rem;
  }

  @include breakpoint-up(tablet) {
    padding: 20vh 5.5vw 10vh;
  }
}

.about {
  @include breakpoint-width-height(667px, 375px, 667px) {
    padding-top: 2rem;
  }

  &__paragraph {
    color: $grey;
    font-size: $_18px;

    margin: 0;

    @include breakpoint-up(tablet) {
      font-size: $_30px;
    }

    &:last-child {
      margin-top: 40px;

      @include breakpoint-up(desktop) {
        margin-left: auto;
        margin-top: 20vh;
      }
    }

    @include breakpoint-up(desktop) {
      font-family: $headers;
      font-size: $_50px;
      font-weight: 100;
      color: $white;

      width: 60vw;
    }
  }
}

.services {
  &__grid {
    @include breakpoint-up(desktop) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.carousels {
  &__banner,
  &__banner2 {
    background-color: $white;
    padding: 0.6rem 0;
    margin: 10vh 0;
    transform: rotate(4deg);

    @include breakpoint-up(desktop) {
      margin: 20vh 0;
    }
  }

  &__banner {
    margin-bottom: 0;

    @include breakpoint-up(desktop) {
      margin-bottom: 10vh;
    }
  }

  &__banner2 {
    margin-top: 5vh;

    @include breakpoint-up(tablet) {
      margin-bottom: 20vh;
    }

    @include breakpoint-up(desktop) {
      margin-bottom: 40vh;
    }
  }
}
